:root {
  font-family: 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 10px;
}


@media (max-resolution: 72dpi) {
  :root {
    font-size: 30px;
  }
}

@media (max-resolution: 96dpi) {
  :root {
    font-size: 25px;
  }
}

@media (max-resolution: 192dpi) {
  :root {
    font-size: 20px;
  }
}

@media (max-resolution: 320dpi) {
  :root {
    font-size: 15px;
  }
}

@media (min-resolution: 640dpi) {
  :root {
    font-size: 10px;
  }
}



@keyframes fadein {
  /* Precalculation for a smoother experience. Not perfect still... */
  0% {
    visibility: hidden;
    transform: scale(0.8);
  }
  10% {
    visibility: hidden;
    transform: scale(1);
  }
  /* Now the real visible job */
  10% {
    visibility: visible;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes backdropAppear {
  /* Precalculation for a smoother experience. Not perfect still... */
  0% {
    visibility: hidden;
    backdrop-filter: blur(0px);
  }
  10% {
    visibility: hidden;
    backdrop-filter: blur(5px);
  }
  /* Now the real visible job */
  10% {
    visibility: visible;
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}