:root {
  font-family: 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 10px;
}

@media (min-width: 2560px) {
  :root {
    font-size: 25px;
  }
}


@keyframes fadein {
  /* Precalculation for a smoother experience. Not perfect still... */
  0% {
    visibility: hidden;
    transform: scale(0.8);
  }
  10% {
    visibility: hidden;
    transform: scale(1);
  }
  /* Now the real visible job */
  10% {
    visibility: visible;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes backdropAppear {
  /* Precalculation for a smoother experience. Not perfect still... */
  0% {
    visibility: hidden;
    backdrop-filter: blur(0px);
  }
  10% {
    visibility: hidden;
    backdrop-filter: blur(5px);
  }
  /* Now the real visible job */
  10% {
    visibility: visible;
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}